<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>U R Millenial</title>
</head>
<body>
    <h1>UR Millenial</h1>
    <p>You hear about millenials every day in the news.  They are the generation with the coolest name, and they get all the best stuff, too.</p>
    <p>But up until now you couldn't be a millenial.  There was always somebody telling you 'no'.  You're too old.  You're too young.  You're not on the cusp.  Not at all.</p>
    <p>Well it is time to take back your rights!  You are a millenial just as much as them.  Just put in some reasons why below and you will get a nifty certificate signed by Official Millenial Gatekeepers.</p>
    <p>Take to the bar and use it to get in next time!</p>
    <form method="POST" action="/generate_pdf">
        <label for="user_data_1">Your name:</label>
        <input type="text" name="user_data_1" required>
        <label for="user_data_2">I M Millenial cuz:</label>
        <input type="text" name="user_data_2" required>
        <label for="user_data_3">I M Millenial also cuz:</label>
        <input type="text" name="user_data_3" required>
        <label for="user_data_4">I M even more-llenial cuz:</label>
        <input type="text" name="user_data_4" required>
        <button type="submit">I M Millenial</button>
    </form>
</body>
</html>